{% import '/Form/theme.html.twig' as formTheme %}

<div class="row">
    <div class="col-md-12">
        <form  name="{{ form.vars.name }}" method="{{ form.vars.method }}" action="{{ path('GET_' ~ metadata.parameters.route.root ~ '_' ~  metadata.parameters.route.actions.update, {'id': resource.id}) }}">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.taxName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.administratorName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.businessName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.taxIdentification) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.administratorIdentification) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.ccc) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.address) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.postalCode) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.town) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.country) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.smtpEmail) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.smtpHost) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.smtpPassword) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.smtpAliasName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.defect) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.enabled) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ formTheme.form_row(form.children.includedIVA) }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-buttons">
                {% include '/Form/Buttons/_update.html.twig' with {'paths': {'cancel': path('GET_' ~ metadata.parameters.route.root ~ '_' ~  metadata.parameters.route.actions.list, configuration.vars.route.parameters|default({}))}} %}
            </div>
        </form>
    </div>
</div>
